<header class="global">
  <div class="logo"><%= link_to "Rails Ready", root_path %></div>
  <nav>
    <% if signed_in? %>
      <%= link_to "Sign Out", sessions_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Sign In", sign_in_path %>
      <div class="px-1">/</div>
      <%= link_to "Sign Up", sign_up_path %>
    <% end %>
  </nav>
</header>