<div class="w-full h-full flex flex-col items-center justify-center space-y-4">
  <div class="flex flex-col space-y-2 items-center">
    <h1 class="text-4xl font-semibold">Welcome to Rails Ready</h1>
    <p class="text-xl">This is your basic boilerplate for starting a rails project</p>
    <h4 class="text-[#888]">Rails v<%= Rails.version %> | Template v1.0</h4>
  </div>
  <div class="mt-auto">
    <small>Created by <%= link_to "Earl Balai Jr", "https://github.com/earlbalai", target: "_blank", class: "font-bold" %></small>
  </div>
</div>